/*=============================================
  ____  _____ _______        _     _
 |  _ \|  __ \__   __|      | |   (_)
 | |_) | |  | | | | ___  ___| |__  _  ___  ___
 |  _ <| |  | | | |/ _ \/ __| '_ \| |/ _ \/ __|
 | |_) | |__| | | |  __/ (__| | | | |  __/\__ \
 |____/|_____/  |_|\___|\___|_| |_|_|\___||___/

 !------- We Convert IDEAS into REALITY ------!

 =============================================*/

@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/charu-chandan-unicode/stylesheet.css');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/charukola-reguler-unicode/stylesheet.css');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/ekushey-lohit/stylesheet.css');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/solaimanlipi/stylesheet.css');
@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
@import url('https://fonts.googleapis.com/css?family=Atma|Baloo+Da|Fira+Mono|Galada|Hind+Siliguri');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/ab-shapla/stylesheet.css');


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

*a {
	text-decoration: none;
	transition: all .3s ease-in-out;
}

* a:hover {
	text-decoration: none;
}

body {
    font-size: 2em;
    line-height: 1.5em;
    text-align: justify;
    color: #22313F;
    background: #ECF0F1;
    font-family: 'SolaimanLipi', Philosopher, sans-serif;
    font-weight: normal;
font-style: normal;
}

.title {
    padding-bottom: .3em;
    border-bottom: 1px dotted #BFBFBF;
}

.intro {
    border-bottom: 1px dotted #BFBFBF;
    padding-bottom: .5em;
    padding-top: .5em;
}

.main {
    margin-top: 2em;
}

.single {
    margin-top: 2em;
    padding: 1em 2em 2em 2em;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);
}

.single h2 {
    line-height: 2em;
}

.single:last-child {
    margin-bottom: 2em;
}

.solaimanlipi {
    font-family: 'SolaimanLipi';
}

.ekushey-lohit {
    font-family: 'Ekushey Lohit';
}

.noto-sans-bengali {
  font-family: 'Noto Sans Bengali', sans-serif;
}

.hind-siliguri {
  font-family: 'Hind Siliguri', sans-serif;
}

.atma {
  font-family: 'Atma', cursive;
}

.galada {
  font-family: 'Galada', cursive;
}

.baloo-da {
  font-family: 'Baloo Da', cursive;
}

.charu-chandan {
    font-family: 'Charu Chandan Unicode';
}

.charukola {
    font-family: 'Charukola Unicode';
}

.ab-shapla {
  font-family: 'ABShaplaBeta';
}

pre code {
  font-size: 1.4rem;
  font-family: 'Fira Mono', monospace !important;
}

 .footer {
     border-top: 1px dotted #BFBFBF;
     font-size: .8em;
 	background-color: none;
 	width: 100%;
     padding-top: .5em;
     padding-bottom: .5em;
 }
 .footer p {
 	margin: 0;
 	padding: 1em 0;
 }

 .footer ul {
 	list-style: none;
 	display: inline;
 }

 .footer ul li {
 	display: inline;
 	margin-right: .5em;
 }

 .footer ul li:last-child {
 	margin-right: 0;
 }

 .footer li a {
 	color: #22313F;
 	transition: all .3s ease-in-out;
 }

.footer-nav li a:hover{
	color: #D35400;
}

 .footer .fa-facebook,
 .footer .fa-twitter,
 .footer .fa-google-plus,
 .footer .fa-github {
 	transition: all .3s ease-in-out;
 }

 .footer .fa-facebook:hover {
 	color: #46629E;
 }

 .footer .fa-twitter:hover {
 	color: #1DA1F2;
 }

 .footer .fa-google-plus:hover {
 	color: #DC4A3D;
 }

 .footer .fa-github:hover {
 	color: #333333;
 }

@media screen and (max-width: 240px) {
  .social {
  	display: none !important;
  }
  .footer .container {
  	text-align: center !important;
  }
}
